/* Règles Générales  */
*{
    padding: 0;
    margin: 0;
}
a {
    color: #707070;
}
a:hover{
    color: #8C4C27;
}


/* NavBar */
@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
        }
    }
.navbar{
    background-color: transparent;
}
.logo {
    width: 90px;
    height: auto;
}
.navbar-collapse{
    display: block;
}
.nav-link{
    text-align: center!important;
}

/* ------Login-------- */
.img-login {
    width: 35%;
    height: 60vh;
    background-image: url('../images/priscilla-du-preez-login.jpg');
    background-size: cover;
    background-position: center;
}
/* ----------- LANDING PAGE ----------- */

/* Header */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    background-image: url('../images/warren-wong-J33qmCVr02A-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.content-header{
    margin-top: 220px;
    font-family: CantataOne;
    color: white;
    font-size: 3.5rem;
    letter-spacing: .3rem;

}

/* Concept */
.concept-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.concept-content h2{
    font-family: 'Cantata One', serif;
    font-size: 3rem;
    margin: 50px auto 30px auto;
}
.concept-content p {
    margin-top: 50px;
    font-family: 'Playfair Display', serif!important;
    letter-spacing: .1rem;
}
.concept-content p span{
    font-size: 2rem;
    font-weight: Bolder;
}

/* Explication */
.explication{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.txt-exp{
    font-family: 'Cantata One', serif;
    font-size: 2rem;
    margin: 50px auto 30px auto;
}
.step h4{
    font-family: 'Cantata One', serif;
    text-align: center;
}
.step img {
    width: 200px;
    margin: 0 auto;
}
.whitespace{
    height: 10vh;
}
/* ANNONCE */

.annonce{
    background-image: url('../images/Fond-annonce.png');
    background-size: cover ;
    background-position:center;
}
.annonce a {
    font-size: 1rem;
    color: #eee;
}
.annonce a:hover {
    font-size: 1rem;
    color: white;
}
.annonce h4{
    font-size: 2.2rem;
}
.annonce hr {
    width: 10vw;
    font-size: 3px;
    background-color: #fff;
}
.annonce .card{
    border: none!important;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}
.annonce .card img{
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}
/* fruits */
.header-fruits{
    color: white;
    font-family: 'Cantata One', serif;
    font-size: 2rem;
}
.header-card-blog{
    color: white;
    font-family: 'Cantata One', serif;
    font-size: 2rem;
}
/* Légumes */
.header-legumes{
    color: white;
    font-family: 'Cantata One', serif;
    font-size: 2rem;
    width: 100vw;
}
/* Outils */
.header-outils{
    color: white;
    font-family: 'Cantata One', serif;
    font-size: 2rem;
}
/* ------- Page ANNONCE ------- */
.header-annonce{
    height: 40vh;
    background-image: url('../images/thomas-smith-2cFxxNtgrb8-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
.ariane a{
    color: #707070!important;
}
.ariane a:hover{
    color: #D68E5B!important;
}


/* Filtre */
.btn-brown{
    background-color:#D68E5B!important ;
    color: white!important;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.scrollable-menu a{
    color: #707070;
}
.scrollable-menu a:hover{
    color: #8C4C27;
}

/* Card */
.card-annonce h1 {
    color: #fff;
    padding: 10px 0;
  }
.card-annonce .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: none;
}
.card-annonce .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    }
.card-annonce a {
      color: initial;
}
.card-annonce a:hover {
        text-decoration: initial;
      }
.card-annonce .text-muted i {
      margin: 0 10px;
  }
  



/* Pagination annonce */
.page-item a {
    background-color: #2C3E50;    
}
.page-item a:hover {
    background-color: #8C4C27;
}

 



/* PUBLICATION */
#new_annonce{
    text-decoration: none;
}
.publication{
    display: flex;
    justify-content: center;
    align-items: center;
}
.publi_txt h4{
    font-family: 'Cantata One', serif;
    font-size: 2rem;
    color: #212529;
}
.publi_txt h4:hover {
    font-family: 'Cantata One', serif;
    font-size: 2rem;
    color: #212529;
    text-decoration: none;
}






/* -------------BLOG ANTI GASPI -----------*/

#header-blog{
    width: 100vw;
    height: 90vh;
    display: flex;
}  
#img-header{
    width: 50vw;
    height: 100%;
    background: rgb(112, 50, 50);
    background-image: url('../images/markus-spiske-i5tesTFPBjw-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.txt-header-blog{
    width: 50vw;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-blog{
    height: 30vh;
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-blog h2{
    margin-bottom: 20px;
}

.card{
    margin: 0 20px 0 0;
}

.card img {
    border-radius: 6px 6px 0 0;
}

.card-header{
    position: absolute bottom;
}

.footer{
    height: 40vh;
    width: 100vw;
}
/* blog.show */
.header-content{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-content h1{
    margin: 30px 0;
}
.info-content{
    margin-top: 30px;
}
.info-content p{
    margin: 0 0 0 15px;
}
.show-article hr {
    font-size: 2rem;
}

/* FOOTER */

.footer a {
    color: #707070;
}
.footer a:hover{
    color: #8C4C27;
}