{% extends 'base.html.twig' %}

{% block title %}Modifier l'annonce | Le marché des cueilleurs{% endblock %}

{% block body %}
    {% if annonce.author.id == app.user.id %}
    <h1>Modification de l'annonce</h1>

    <a href="{{ path('annonce_index') }}">Retour à la liste</a>
    
        {{ include('annonce/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('annonce/_delete_form.html.twig') }}

    {% else %}
        <h1>Vous n'avez pas les droits pour modifié cette annonce</h1>
    {% endif %}

{% endblock %}
