{% extends 'base.html.twig' %}

{% block title %}Nouvelle annonce{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item ariane"><a href="{{ path('accueil') }}">Accueil</a></li>
        <li class="breadcrumb-item ariane"><a href="{{ path('annonce_index') }}">Toutes les annonces</a></li>
    </ol>
    </nav>
    <div class="container">
        <h1 class="my-5">Publier une nouvelle annonce</h1>
        {{ include('annonce/_form.html.twig') }}
    </div>

{% endblock %}
