{% extends 'base.html.twig' %}

{% block title %}Edit ArticleBlog{% endblock %}

{% block body %}
    <h1>Edit ArticleBlog</h1>
    <div class="container">
    {{ include('article_blog/_form.html.twig', {'button_label': 'Update', 'class': 'btn btn-outline-success' })}}

    <a href="{{ path('article_blog_index') }}" class="btn btn-outline-info">back to list</a>

    {{ include('article_blog/_delete_form.html.twig') }}
    </div>
{% endblock %}
