{% extends 'base.html.twig' %}

{% block title %}New ArticleBlog{% endblock %}

{% block body %}
    <h1>Create new ArticleBlog</h1>

    {{ include('article_blog/_form.html.twig') }}

    <a href="{{ path('article_blog_index') }}">back to list</a>
{% endblock %}
