<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark badge-light pt-2 footer">

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5 footer-content ">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 pb-2 mx-auto ">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Le marché des cueilleurs</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Avec l’objectif de réduire le gaspillage alimentaire, la plateforme Le marché des cueilleurs met en relation les particuliers et petits producteurs qui veulent échanger ou donner leur surplus de production de leur jardin avec les personnes qui cherchent à s’approvisionner localement</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Annonces</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Fruits</a>
        </p>
        <p>
          <a href="#!">Légumes</a>
        </p>
        <p>
          <a href="#!">Outils</a>
        </p>
        <p>
          <a href="#!">Blog Anti-gaspi</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Liens utiles</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="/login">Connection</a>
        </p>
        <p>
          <a href="/register">Crée un compte</a>
        </p>
        <p>
          <a href="/article/blog/">Blog Anti-gasp</a>
        </p>
        <p>
          <a href="#!">Contact</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home mr-3"></i> Toulouse, 31000 France</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> info@example.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
        <p>
          <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-primary">© 2020 Copyright :
    <a href="https://github.com/imTomah" class="text-muted"> <em>Thomas Colomas</em></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->