<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:transparent;">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="/">
            Logo
        </a>
        <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
            <img src="//placehold.it/40?text=LOGO" alt="logo">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="#" class="nav-link m-2 menu-item nav-active">Poster une annonce</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link m-2 menu-item">Fruits</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link m-2 menu-item">Légumes</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link m-2 menu-item">Outils</a>
            </li>
            <li class="nav-item">
                <a href="/article/blog" class="nav-link m-2 menu-item">Recette anti-gaspi</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link m-2 menu-item">A Propos</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link m-2 menu-item"><i class="fa fa-user" aria-hidden="true"></i></a>
            </li>
            
        </ul>
    </div>
</nav>